{% extends 'beumsolumBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/beumsolum/js/test/assets/routes.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/beumsolum/js/test/models/jslintSelectFile.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/beumsolum/js/solum/lib/ko-binding-folderTree.js') }}"></script>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/beumsolum/css/main.css') }}" />
{% endblock %}

{% block pagetitle %}
  <div class="row">
    <h1>JS Lint Code Quality Checker</h1>
  </div>
{% endblock %}

{% block body %}
  <div class="jslint-header row">
    <div><h3>Pick a File to Test</h3></div>
    <div><a href="#" data-bind="click: showAll">Show All</a> | <a href="#" data-bind="click: hideAll">Hide All</a></div>
    <div id="loading_symbol" style="display: none" data-bind="visible: ajaxManager.isLoading()">
      <div class="centered" style="width:50px; margin:0px auto;">
        <img height="50px" width="50px" src="{{ asset('bundles/beumsolum/images/demo/loading.gif') }}"/>
      </div>
    </div>
    <div data-bind="folderTree: {data: filetree.hierarchy, onLeaf: onLeaf}"></div>
  </div>



  <script type="text/javascript">
    $(function() {
      model = solum.getModel('jslint', 'selectFile');
      ko.applyBindings(model);
      model.getFileList();
    });
  </script>
{% endblock %}